*.ipch
*.opendb
build/
GameEngine/.vs/GameEngine/v17/ipch/AutoPCH/61edc275becc9134/MAIN.ipch
GameEngine/.vs/GameEngine/v17/ipch/AutoPCH/61edc275becc9134/MAIN.ipch
*.ipch
/GameEngine/.vs/GameEngine/v17/ipch
